# ===== GLOBAL =====
APP_NAME=energy-billing-platform
APP_ENV=development
APP_DOMAIN=localhost

# ===== FRONTEND =====
VITE_API_BASE_URL=http://localhost:8000/api/v1

# ===== BACKEND =====
API_HOST=0.0.0.0
API_PORT=8000
API_CORS_ORIGINS=["http://localhost:8080","http://localhost:4173","http://localhost:3000"]
UPLOAD_DIR=/app/data/uploads
GENERATED_DIR=/app/data/generated
LOG_LEVEL=INFO

# ===== GOOGLE CLOUD / BIGQUERY =====
GCP_PROJECT_ID=football-data-science
GCP_DATASET_ID=erb_tech
GCP_LOCATION=southamerica-east1
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/gcp-service-account.json

# ===== SICOOB =====
SICOOB_BASE_URL=https://sandbox.sicoob.com.br/sicoob/sandbox/cobranca-bancaria/v3
SICOOB_CLIENT_ID=
SICOOB_ACCESS_TOKEN=
SICOOB_NUMERO_CLIENTE=
SICOOB_CODIGO_MODALIDADE=1
SICOOB_NUMERO_CONTRATO_COBRANCA=1
SICOOB_NUMERO_CONTA_CORRENTE=0
